# dependencies
node_modules/
.pnpm-store/

# turbo
.turbo/

# builds
dist/
build/
web-build/

# Expo
.expo/
apps/mobile/.expo/
expo-env.d.ts
*.orig.*

# Supabase local stack
supabase/.branches/
supabase/.temp/

# env
.env
.env.*.local
.env.local

# Metro
.metro-health-check*

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# native
/ios
/android
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo
